batch_size = 208

[voxelizer]
max_unique_species = 6
n_grid = 24
distance_power = 2.0
eff_scale = 0.7
num_cells = 4

[data]
data_batch_size = 52
raw_data_folder = "data"
data_folder = "precomputed"
train_split = 6
test_split = 0
valid_split = 1

[cli]
verbosity = "info"
show_progress = true
