batch_size = 52
do_profile = false
num_epochs = 100
regressor = "vit"

[data]
data_batch_size = 52
raw_data_folder = "data"
data_folder = "precomputed"
shuffle_seed = 1618
train_split = 8
test_split = 3
valid_split = 3
do_augment = false
augment_seed = 12345
so3 = true
o3 = true
t3 = true

[cli]
verbosity = "info"
show_progress = true

[device]
device = "gpu"
max_gpus = 1

[log]
log_dir = "logs"
logs_per_epoch = 8

[train]
lr_schedule_kind = "cosine"
start_lr_frac = 0.1
base_lr = 0.004
end_lr_frac = 0.04
weight_decay = 0.03
beta_1 = 0.9
beta_2 = 0.999
nestorov = true
max_grad_norm = 1.0

[vit]
equivariant = true
out_dim = 1

[train.loss]
loss_delta = 0.01
use_rmse = false

[vit.vit_input]
patch_size = 3
patch_latent_dim = 384
pos_embed_type = "identity"

[vit.encoder]
num_layers = 6
num_heads = 6
enc_dropout_rate = 0

[vit.head]
inner_dims = [256]
dropout = 0.2
equivariant = false

[vit.species_embed]
species_embed_dim = 64
use_simple_weighting = true

[diffusion.diffusion]
min_signal_rate = 0.02
max_signal_rate = 0.95

[vit.encoder.mlp]
inner_dims = []
dropout = 0.1
equivariant = false

[vit.head.activation]
name = "gelu"

[vit.head.final_activation]
name = "Identity"

[vit.species_embed.spec_embed]
inner_dims = []
out_dim = 64
dropout = 0.1

[vit.encoder.mlp.activation]
name = "gelu"

[vit.encoder.mlp.final_activation]
name = "Identity"

[vit.species_embed.spec_embed.activation]
name = "gelu"

[vit.species_embed.spec_embed.final_activation]
name = "Identity"

[vit.downsample]
factor = []
channels_out = []
kernel_size = []
